.devis {
    height: 100vh;
    font-family: 'Nunito';
    color: $dark-blue;
    font-size: 14px;
    background: #fff;
    &__container {
        padding: 20px 20px;
        @include for-size(tablet-portrait-up) {
            padding-left: 100px;
        }
        ;
    }
    &__title {
        font-size: 24px;
        font-weight: bold;
        @include for-size(tablet-portrait-up) {
            font-size: 36px;
        }
    }
    &__navSteps {
        margin-top: 10px;
        display: flex;
    }
    &__navStep {
        margin-right: 10px;
        font-weight: 400;
        opacity: 0.3;
        cursor: pointer;
    }
    &__stepsForm {
        display: flex;
        overflow-x: hidden;
    }
    &__stepNext {
        background: $dark-blue;
        border: none;
        padding: 10px 35px;
        border-radius: 25px;
        color: #fff;
        font-size: 12px;
        margin: 40px 0 50px 0;
        cursor: pointer;
        @include for-size(tablet-portrait-up) {
            margin: 100px 0 50px 0;
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__firstStep {
        border: none;
        font-weight: 200;
        color: $dark-blue;
        &Form {
            width: 100vw;
        }
        &FormContainer {
            @include for-size(tablet-portrait-up) {
                position: absolute;
                top: 55%;
                left: 51%;
                transform: translate(-50%, -50%);
                width: 100%;
                display: flex;
                align-items: baseline;
                justify-content: space-around;
            }
        }
        &Title {
            margin: 30px 0 35px 0;
            font-size: 18px;
            font-weight: 200;
        }
        &Flex {
            @include for-size(tablet-portrait-up) {
                display: flex;
                flex-direction: column;
            }
        }
        &SelectContainer{
            position: relative;
            width: 100%;
            @include for-size(tablet-portrait-up) {
                width: 120%;
            }
        }
        &Select {
            border: none;
            font-family: 'Nunito';
            font-weight: 200;
            color: $dark-blue;
            font-size: 14px;
            border-bottom: 2px solid $dark-blue;
            padding: 5px;
            background: #fff;
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;
            outline: none;
            width: 100%;
            border-radius: 0;
        }
        &SelectContainer:before {
            font-family: "Font Awesome 5 Free";
            content: "\f107";
            font-weight: 900;
            position: absolute;
            top: -8px;
            right: 0;
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            color: $dark-blue;
            font-size: 18px;
            pointer-events: none;
        }
        &Input {
            margin: 35px 0;
            font-size: 14px;
            color: $dark-blue;
            font-family: 'Nunito';
            font-weight: 200;
            border: none;
            border-bottom: 2px solid $dark-blue;
            width: 100%;
            padding: 5px;
            @include for-size(tablet-portrait-up) {
                width: 120%;
            }
        }
        input[type="checkbox"] {
            margin: 35px 0;
        }
        &Cleaning {
            @include for-size(tablet-portrait-up) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &Container {
                display: flex;
                margin-top: 20px;
                align-items: center;
                justify-content: space-around;
                @include for-size(tablet-portrait-up) {
                    flex-direction: column;
                    align-items: center;
                }
                &>input {
                    margin-right: 20px;
                    width: 20%;
                    @include for-size(tablet-portrait-up) {
                        margin-right: 0;
                        width: 50%;
                    }
                }
                &Title {
                    @include for-size(tablet-portrait-up) {
                        text-align: center;
                    }
                }
            }
            &Circle {
                width: 100px;
                height: 100px;
                background: $gradientBlue;
                border-radius: 50%;
                @include for-size(tablet-portrait-up) {
                    padding-top: 30px;
                }
            }
        }
        &InputPercent {
            opacity: 0.3;
            border: none;
            border-bottom: 2px solid $dark-blue;
            width: 100%;
            font-size: 14px;
            padding: 5px;
            @include for-size(tablet-portrait-up) {
                width: 120%;
            }
        }
    }
    &__secondStep {
        color: $dark-blue;
        &Title {
            font-size: 18px;
            font-weight: 200;
            margin: 30px 0 35px 0;
        }
        &Text {
            text-decoration: none;
            color: $dark-blue;
            font-weight: 200;
        }
        &Link {
            text-decoration: none;
            color: $dark-blue;
            font-size: 14px;
        }
        &Link:hover {
            border-bottom: 2px solid $dark-blue;
        }
        &Form {
            margin: 35Px 0;
            &Container {
                @include for-size(tablet-portrait-up) {
                    position: absolute;
                    top: 55%;
                    left: 51%;
                    transform: translate(-50%, -50%);
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 100px;
                    align-content: center;
                    justify-content: center;
                }
            }
        }
        &Input {
            border: none;
            border-bottom: 2px solid $dark-blue;
            padding: 5px;
            margin-bottom: 35px;
            font-size: 14px;
            font-weight: 200;
            width: 100%;
            @include for-size(tablet-portrait-up) {
                width: 120%;
            }
        }
    }
    &__thirdStep {
        &Container {
            @include for-size(tablet-portrait-up) {
                position: absolute;
                top: 60%;
                left: 51%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: row-reverse;
            }
        }
        &Title {
            font-size: 18px;
            font-weight: 200;
            margin: 15px 0 10px 0;
        }
        &SubTitle {
            margin: 20px 0;
            font-size: 14px;
            font-weight: bold;
        }
        &Info {
            margin: 20px 0;
            &Container{
                display: flex;
                align-items: center;
            }
            &Title {
                margin-bottom: 5px;
                @include for-size(tablet-portrait-up) {
                    margin-bottom: 20px;
                }
            }
            &List {
                background: $dark-blue;
                color: #fff;
                padding: 10px;
                border-radius: 10px;
                font-weight: 200;
                line-height: 20px;
                @include for-size(tablet-portrait-up) {
                    line-height: 40px;
                    width: 20vw;
                }
            }
            &List>li {
                margin-bottom: 5px;
            }
            &Img {
                width: 50%;
                @include for-size(tablet-portrait-up) {
                    display: none;
                }
            }
        }
        &Summary {
            box-shadow: 0 6px 10px rgba(0, 0, 0, .4);
            padding: 20px;
            @include for-size(tablet-portrait-up) {
                margin: 0 50px;
                width: 100%;
            }
            &Title {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 5px;
            }
            &SubTitle {
                font-weight: 200;
                margin-bottom: 20px;
            }
            &List {
                font-weight: 200;
            }
            &Items {
                margin-bottom: 15px;
            }
            &Price {
                margin: 40px 0;
            }
            &Buttons {
                display: flex;
                justify-content: end;
                align-content: flex-end;
            }
            &Button {
                border: none;
                background: #fff;
                color: $light-blue;
                border: 1px solid $light-blue;
                margin-right: 10px;
                padding: 10px 35px;
                border-radius: 25px;
                cursor: pointer;
            }
            &Button:hover {
                transition: 1s;
                border: 3px solid $light-blue;
            }
            &ButtonSend {
                border: none;
                background: $light-blue;
                color: #fff;
                border: 1px solid $light-blue;
                padding: 10px 35px;
                border-radius: 25px;
                cursor: pointer;
            }
        }
    }
    #send  {
        display: none;
    }
    .--currentStep {
        opacity: 1;
    }
    .--center {
        position: absolute;
        left: 50%;
        transform : translateX(-50%);
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .--steps {
        display: none;
    }
    .--stepsActive {
        display: block;
    }
    .btnHoverBorder{
        transition: 0.5s;
    }
    .btnHoverBorder:hover{
        transition: 0.5s;
        background: $light-blue;
        border: none;
        color: #fff;
    }
    .btnHoverBackground{
        transition: 0.5s;
    }
    .btnHoverBackground:hover{
        transition: 0.5s;
        background: transparent;
        color: $light-blue;
    }
}
