.join {
  text-align: center;
  &__img-box {
    width: 195px;
    height: 172px;
    margin: $margin-center;
    margin-bottom: 27px;
  }
  .title-3 {
    margin-bottom: 30px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__text {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 20px;
  }
}
