.login{
    color: $dark-blue;
    margin: 50px 20px;
    font-family: 'Nunito';
    &__container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }
    &__title{
        font-size: 24px;
        font-weight: bold;
    }
    &__subTitle{
        font-size: 14px;
        display: flex;
        margin-top: 10px;
    }
    &__text{
        font-weight: 200;
        margin-right: 5px;
    }
    &__link{
        cursor: pointer;
    }
    &__form{
        margin: 50px 20px;
        &Inputs {
            position: relative;
        }
        &Input {
            border: none;
            border-bottom: 2px solid $dark-blue;
            padding: 5px;
            margin-bottom: 50px;
            margin-right: 35px;
            font-size: 14px;
            font-weight: 200;
            width: 100%;
            color: #173456;
            letter-spacing: 1px;
            box-sizing: border-box;
            background-color: transparent;
            z-index: 1;
            @include for-size(tablet-portrait-up) {
                width: 100%;
            }
        }
        &Label{
            position: absolute;
            top: 5px;
            left: 0;
            z-index: -1;
        }
        &InputSubmit{
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            background: $light-blue;
            border: 1px solid $light-blue;
            border-radius: 30px;
            padding: 10px 20px;
            color: #fff;
            cursor: pointer;
            letter-spacing: 1px;
            margin-top: 70px;
        }
    }    
}

.register{
    display: none;
    color: $dark-blue;
    margin: 50px 20px;
    &__container{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }
    &__title{
        font-size: 24px;
        font-weight: bold;
    }
    &__subTitle{
        font-size: 14px;
        display: flex;
        margin-top: 10px;
    }
    &__text{
        font-weight: 200;
        margin-right: 5px;
    }
    &__link{
        cursor: pointer;
    }
    &__form{
        margin: 35px 20px;
        &Container{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 40px;
            align-items: center;
        }
        &Inputs {
            position: relative;
        }
        &Input {
            border: none;
            border-bottom: 2px solid $dark-blue;
            padding: 5px;
            margin-bottom: 50px;
            margin-right: 35px;
            font-size: 14px;
            font-weight: 200;
            width: 100%;
            color: #173456;
            letter-spacing: 1px;
            box-sizing: border-box;
            background-color: transparent;
            z-index: 1;
            @include for-size(tablet-portrait-up) {
                width: 100%;
            }
        }
        &Label{
            position: absolute;
            top: 5px;
            left: 0;
            z-index: -1;
        }
        &InputSubmit{
            margin-top: 50px;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            background: $light-blue;
            border: 1px solid $light-blue;
            border-radius: 30px;
            width: 200px;
            padding: 10px 0;
            color: #fff;
            cursor: pointer;
        }
    }
}

.errorContainer{
    width: 100%;
    background: $light-blue;
}
.errorText{
    text-align: center;
    color: #fff;
    padding: 10px 0;
    
}