.numbers {
    @include for-size(tablet-landscape-up) {
      margin-bottom: 100px;
      text-align: center;
    }
    &__logo-box {
      width: 140px;
      height: 17px;
      margin: $margin-center;
      margin-bottom: 20px;
    }
    &__logo {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
    &-key {
      font: {
        size: 64px;
        weight: 900;
      }
      color: $color-key;
    }
    .title-3 {
      margin-bottom: 20px;
      @include for-size(tablet-landscape-up) {
        margin-bottom: 50px;
      }
    }
    &__datas {
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      &-key {
        font: {
          size: 64px;
          weight: 900;
        }
        color: $color-key;
      }
      &-text {
        font-size: 14px;
      }
    }
    &-box {
      @include for-size(tablet-landscape-up) {
        width: 90%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        text-align: center;
      }
    }
  }