/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-family: "Nunito", sans-serif;
  color: #193558; }

.body__homepage {
  background: #fff;
  width: 100vw;
  height: 100%;
  z-index: 100;
  position: relative; }

.container {
  width: 80%;
  margin: 0 auto; }

.title-3 {
  font-size: 24px;
  text-align: center; }

.title-4 {
  font-size: 17px;
  font-weight: 700;
  text-align: center; }

.smBtn {
  display: inline-block;
  padding: 1em;
  text-decoration: none;
  background-color: #193558;
  border-radius: 100px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer; }

.u-bottom-50 {
  margin-bottom: 50px; }

.empty {
  width: 100vw;
  height: 100vh; }

.header {
  background: #fff; }
  @media (min-width: 949px) {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100vw;
      margin: auto;
      padding: 0px 20px; } }
  .header__inner {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__burger {
    z-index: 2;
    position: relative;
    width: 18px;
    height: 18px; }
    @media (min-width: 949px) {
      .header__burger {
        display: none; } }
    .header__burger-round {
      position: absolute;
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #193558; }

.menu {
  opacity: 0;
  z-index: -1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #FFF;
  top: 0;
  left: 0;
  transition: all .3s; }
  @media (min-width: 949px) {
    .menu {
      opacity: 1;
      z-index: 0;
      height: 24px;
      width: auto;
      position: relative; } }
  .menu__containerItem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media (min-width: 949px) {
      .menu__containerItem {
        position: relative;
        display: block; } }
  .menu__item {
    font-family: "nunito", sans-serif;
    color: #193558;
    margin-top: 30px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none; }
    @media (min-width: 949px) {
      .menu__item {
        display: inline;
        margin-right: 20px;
        font-size: 18px; } }
  .menu__imgContainer {
    width: 100px;
    margin: 50px auto; }
    @media (min-width: 949px) {
      .menu__imgContainer {
        display: none; } }
    .menu__imgContainer img {
      width: 100%; }

.round1 {
  left: 0;
  top: 0;
  transition: all .3s; }

.round2 {
  right: 0;
  top: 0;
  transition: all .3s; }

.round3 {
  left: 0;
  bottom: 0;
  transition: all .3s; }

.round4 {
  right: 0;
  bottom: 0;
  transition: all .3s; }

.menuActive {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s; }

.lgButton {
  width: 120px;
  text-align: center;
  border-radius: 110px;
  border: 1.5px solid #193558;
  padding: 10px 0;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  color: #193558;
  background-color: #FFF;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s; }

.lgButton:hover {
  background: #193558;
  color: #fff; }

.devis {
  height: 100vh;
  font-family: 'Nunito';
  color: #193558;
  font-size: 14px;
  background: #fff; }
  .devis__container {
    padding: 20px 20px; }
    @media (min-width: 600px) {
      .devis__container {
        padding-left: 100px; } }
  .devis__title {
    font-size: 24px;
    font-weight: bold; }
    @media (min-width: 600px) {
      .devis__title {
        font-size: 36px; } }
  .devis__navSteps {
    margin-top: 10px;
    display: flex; }
  .devis__navStep {
    margin-right: 10px;
    font-weight: 400;
    opacity: 0.3;
    cursor: pointer; }
  .devis__stepsForm {
    display: flex;
    overflow-x: hidden; }
  .devis__stepNext {
    background: #193558;
    border: none;
    padding: 10px 35px;
    border-radius: 25px;
    color: #fff;
    font-size: 12px;
    margin: 40px 0 50px 0;
    cursor: pointer; }
    @media (min-width: 600px) {
      .devis__stepNext {
        margin: 100px 0 50px 0;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%); } }
  .devis__firstStep {
    border: none;
    font-weight: 200;
    color: #193558; }
    .devis__firstStepForm {
      width: 100vw; }
    @media (min-width: 600px) {
      .devis__firstStepFormContainer {
        position: absolute;
        top: 55%;
        left: 51%;
        transform: translate(-50%, -50%);
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-around; } }
    .devis__firstStepTitle {
      margin: 30px 0 35px 0;
      font-size: 18px;
      font-weight: 200; }
    @media (min-width: 600px) {
      .devis__firstStepFlex {
        display: flex;
        flex-direction: column; } }
    .devis__firstStepSelectContainer {
      position: relative;
      width: 100%; }
      @media (min-width: 600px) {
        .devis__firstStepSelectContainer {
          width: 120%; } }
    .devis__firstStepSelect {
      border: none;
      font-family: 'Nunito';
      font-weight: 200;
      color: #193558;
      font-size: 14px;
      border-bottom: 2px solid #193558;
      padding: 5px;
      background: #fff;
      -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
      outline: none;
      width: 100%; }
    .devis__firstStepSelectContainer:before {
      font-family: "Font Awesome 5 Free";
      content: "\f107";
      font-weight: 900;
      position: absolute;
      top: -8px;
      right: 0;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      color: #193558;
      font-size: 18px;
      pointer-events: none; }
    .devis__firstStepInput {
      margin: 35px 0;
      font-size: 14px;
      color: #193558;
      font-family: 'Nunito';
      font-weight: 200;
      border: none;
      border-bottom: 2px solid #193558;
      width: 100%;
      padding: 5px; }
      @media (min-width: 600px) {
        .devis__firstStepInput {
          width: 120%; } }
    .devis__firstStep input[type="checkbox"] {
      margin: 35px 0; }
    @media (min-width: 600px) {
      .devis__firstStepCleaning {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .devis__firstStepCleaningContainer {
      display: flex;
      margin-top: 20px;
      align-items: center;
      justify-content: space-around; }
      @media (min-width: 600px) {
        .devis__firstStepCleaningContainer {
          flex-direction: column;
          align-items: center; } }
      .devis__firstStepCleaningContainer > input {
        margin-right: 20px;
        width: 20%; }
        @media (min-width: 600px) {
          .devis__firstStepCleaningContainer > input {
            margin-right: 0;
            width: 50%; } }
      @media (min-width: 600px) {
        .devis__firstStepCleaningContainerTitle {
          text-align: center; } }
    .devis__firstStepCleaningCircle {
      width: 100px;
      height: 100px;
      background: linear-gradient(#55b7f1 0%, #1177fc 100%);
      border-radius: 50%; }
      @media (min-width: 600px) {
        .devis__firstStepCleaningCircle {
          padding-top: 30px; } }
    .devis__firstStepInputPercent {
      opacity: 0.3;
      border: none;
      border-bottom: 2px solid #193558;
      width: 100%;
      font-size: 14px;
      padding: 5px; }
      @media (min-width: 600px) {
        .devis__firstStepInputPercent {
          width: 120%; } }
  .devis__secondStep {
    color: #193558; }
    .devis__secondStepTitle {
      font-size: 18px;
      font-weight: 200;
      margin: 30px 0 35px 0; }
    .devis__secondStepText {
      text-decoration: none;
      color: #193558;
      font-weight: 200; }
    .devis__secondStepLink {
      text-decoration: none;
      color: #193558;
      font-size: 14px; }
    .devis__secondStepLink:hover {
      border-bottom: 2px solid #193558; }
    .devis__secondStepForm {
      margin: 35Px 0; }
      @media (min-width: 600px) {
        .devis__secondStepFormContainer {
          position: absolute;
          top: 55%;
          left: 51%;
          transform: translate(-50%, -50%);
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 100px;
          align-content: center;
          justify-content: center; } }
    .devis__secondStepInput {
      border: none;
      border-bottom: 2px solid #193558;
      padding: 5px;
      margin-bottom: 35px;
      font-size: 14px;
      font-weight: 200;
      width: 100%; }
      @media (min-width: 600px) {
        .devis__secondStepInput {
          width: 120%; } }
  @media (min-width: 600px) {
    .devis__thirdStepContainer {
      position: absolute;
      top: 60%;
      left: 51%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: row-reverse; } }
  .devis__thirdStepTitle {
    font-size: 18px;
    font-weight: 200;
    margin: 15px 0 10px 0; }
  .devis__thirdStepSubTitle {
    margin: 20px 0;
    font-size: 14px;
    font-weight: bold; }
  .devis__thirdStepInfo {
    margin: 20px 0; }
    .devis__thirdStepInfoContainer {
      display: flex;
      align-items: center; }
    .devis__thirdStepInfoTitle {
      margin-bottom: 5px; }
      @media (min-width: 600px) {
        .devis__thirdStepInfoTitle {
          margin-bottom: 20px; } }
    .devis__thirdStepInfoList {
      background: #193558;
      color: #fff;
      padding: 10px;
      border-radius: 10px;
      font-weight: 200;
      line-height: 20px; }
      @media (min-width: 600px) {
        .devis__thirdStepInfoList {
          line-height: 40px;
          width: 20vw; } }
    .devis__thirdStepInfoList > li {
      margin-bottom: 5px; }
    .devis__thirdStepInfoImg {
      width: 50%; }
      @media (min-width: 600px) {
        .devis__thirdStepInfoImg {
          display: none; } }
  .devis__thirdStepSummary {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
    padding: 20px; }
    @media (min-width: 600px) {
      .devis__thirdStepSummary {
        margin: 0 50px;
        width: 100%; } }
    .devis__thirdStepSummaryTitle {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 5px; }
    .devis__thirdStepSummarySubTitle {
      font-weight: 200;
      margin-bottom: 20px; }
    .devis__thirdStepSummaryList {
      font-weight: 200; }
    .devis__thirdStepSummaryItems {
      margin-bottom: 15px; }
    .devis__thirdStepSummaryPrice {
      margin: 40px 0; }
    .devis__thirdStepSummaryButtons {
      display: flex;
      justify-content: end;
      align-content: flex-end; }
    .devis__thirdStepSummaryButton {
      border: none;
      background: #fff;
      color: #49b6ce;
      border: 1px solid #49b6ce;
      margin-right: 10px;
      padding: 10px 35px;
      border-radius: 25px;
      cursor: pointer; }
    .devis__thirdStepSummaryButton:hover {
      transition: 1s;
      border: 3px solid #49b6ce; }
    .devis__thirdStepSummaryButtonSend {
      border: none;
      background: #49b6ce;
      color: #fff;
      border: 1px solid #49b6ce;
      padding: 10px 35px;
      border-radius: 25px;
      cursor: pointer; }
  .devis #send {
    display: none; }
  .devis .--currentStep {
    opacity: 1; }
  .devis .--center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; }
  .devis .--steps {
    display: none; }
  .devis .--stepsActive {
    display: block; }

.sendMail {
  font-family: 'Nunito';
  color: #193558; }
  .sendMail__container {
    padding: 50px 20px; }
    @media (min-width: 600px) {
      .sendMail__container {
        padding: 100px 100px; } }
  .sendMail__title {
    font-size: 24px;
    font-weight: bold; }
  .sendMail__subTitle {
    font-size: 14px;
    font-weight: 200;
    margin-top: 10px; }
    @media (min-width: 600px) {
      .sendMail__subTitle {
        margin-top: 30px; } }
  .sendMail__imgContainer {
    max-width: 200px;
    max-height: 200px;
    margin: 50px 0; }
    @media (min-width: 600px) {
      .sendMail__imgContainer {
        max-width: 400px;
        max-height: 400px; } }
  .sendMail__img {
    width: 100%;
    height: 100%; }

.--devis {
  display: block; }

.--register {
  display: none; }

.login {
  color: #193558;
  margin: 50px 20px;
  font-family: 'Nunito'; }
  .login__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px; }
  .login__title {
    font-size: 24px;
    font-weight: bold; }
  .login__subTitle {
    font-size: 14px;
    display: flex;
    margin-top: 10px; }
  .login__text {
    font-weight: 200;
    margin-right: 5px; }
  .login__link {
    cursor: pointer; }
  .login__form {
    margin: 50px 20px; }
    .login__formInputs {
      position: relative; }
    .login__formInput {
      border: none;
      border-bottom: 2px solid #193558;
      padding: 5px;
      margin-bottom: 50px;
      margin-right: 35px;
      font-size: 14px;
      font-weight: 200;
      width: 100%;
      color: #173456;
      letter-spacing: 1px;
      box-sizing: border-box;
      background-color: transparent;
      z-index: 1;
      outline: none; }
      @media (min-width: 600px) {
        .login__formInput {
          width: 100%; } }
    .login__formLabel {
      position: absolute;
      top: 5px;
      left: 0;
      z-index: -1; }
    .login__formInputSubmit {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      background: #49b6ce;
      border: 1px solid #49b6ce;
      border-radius: 30px;
      padding: 10px 20px;
      color: #fff;
      cursor: pointer;
      letter-spacing: 1px;
      margin-top: 70px; }

.register {
  display: none;
  color: #193558;
  margin: 50px 20px; }
  .register__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px; }
  .register__title {
    font-size: 24px;
    font-weight: bold; }
  .register__subTitle {
    font-size: 14px;
    display: flex;
    margin-top: 10px; }
  .register__text {
    font-weight: 200;
    margin-right: 5px; }
  .register__link {
    cursor: pointer; }
  .register__form {
    margin: 35px 20px; }
    .register__formContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
      align-items: center; }
    .register__formInputs {
      position: relative; }
    .register__formInput {
      border: none;
      border-bottom: 2px solid #193558;
      padding: 5px;
      margin-bottom: 50px;
      margin-right: 35px;
      font-size: 14px;
      font-weight: 200;
      width: 100%;
      color: #173456;
      letter-spacing: 1px;
      box-sizing: border-box;
      background-color: transparent;
      z-index: 1;
      outline: none; }
      @media (min-width: 600px) {
        .register__formInput {
          width: 100%; } }
    .register__formLabel {
      position: absolute;
      top: 5px;
      left: 0;
      z-index: -1; }
    .register__formInputSubmit {
      margin-top: 50px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      background: #49b6ce;
      border: 1px solid #49b6ce;
      border-radius: 30px;
      width: 200px;
      padding: 10px 0;
      color: #fff;
      cursor: pointer; }

.errorContainer {
  width: 100%;
  background: #49b6ce; }

.errorText {
  text-align: center;
  color: #fff;
  padding: 10px 0; }

.home__logo-box {
  width: 140px;
  height: 144px;
  margin: 50px auto; }
  .home__logo-box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain; }
.home__title {
  font-size: 24px;
  text-align: center; }
  .home__title--darken {
    color: #193558; }
  .home__title--lighten {
    color: #49b6ce; }

.argument {
  position: relative; }
  @media (min-width: 949px) {
    .argument {
      margin-bottom: 260px; } }
  .argument__round {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #49b6ce;
    margin-left: -100px;
    z-index: -100;
    overflow: hidden; }
    @media (min-width: 949px) {
      .argument__round {
        display: block;
        width: 240px;
        height: 240px;
        margin-left: 200px; } }
  .argument__slogan {
    position: absolute;
    font-size: 24px;
    color: transparent;
    top: 20%;
    left: 3%;
    width: 100%;
    background-image: linear-gradient(to right, #fff 17%, #193558 17%, #193558 100%);
    -webkit-background-clip: text; }
    @media (min-width: 949px) {
      .argument__slogan {
        font-size: 45px;
        width: 50%;
        left: 29.5%; } }
  .argument__text-box {
    text-align: center; }
    @media (min-width: 949px) {
      .argument__text-box {
        margin-top: -5%; } }
  .argument__text {
    font-size: 18px; }
    .argument__text:not(:last-child) {
      margin-bottom: 10px; }

@media (min-width: 949px) {
  .numbers {
    margin-bottom: 100px;
    text-align: center; } }
.numbers__logo-box {
  width: 140px;
  height: 17px;
  margin: 0 auto;
  margin-bottom: 20px; }
.numbers__logo {
  width: 100%;
  height: 100%;
  object-fit: cover; }
.numbers-key {
  font-size: 64px;
  font-weight: 900;
  color: #50b7ce; }
.numbers .title-3 {
  margin-bottom: 20px; }
  @media (min-width: 949px) {
    .numbers .title-3 {
      margin-bottom: 50px; } }
.numbers__datas {
  text-align: center; }
  .numbers__datas:not(:last-child) {
    margin-bottom: 20px; }
  .numbers__datas-key {
    font-size: 64px;
    font-weight: 900;
    color: #50b7ce; }
  .numbers__datas-text {
    font-size: 14px; }
@media (min-width: 949px) {
  .numbers-box {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center; } }

@media (min-width: 949px) {
  .clients {
    margin-bottom: 230px; } }
.clients__logo-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 949px) {
    .clients__logo-box {
      width: 60%;
      margin: 0 auto; } }
.clients .title-3 {
  margin-bottom: 20px; }
  @media (min-width: 949px) {
    .clients .title-3 {
      margin-bottom: 40px; } }
.clients__logo {
  width: 80px; }
  @media (min-width: 949px) {
    .clients__logo {
      width: 120px; } }

.services {
  text-align: center;
  height: 80%; }
  @media (min-width: 949px) {
    .services {
      position: relative; } }
  .services__text {
    margin-bottom: 20px;
    text-align: justify;
    color: #656e78;
    font-size: 14px; }
  .services__text-box {
    text-align: center; }
    @media (min-width: 949px) {
      .services__text-box {
        position: absolute;
        height: 40px;
        width: 450px; }
        .services__text-box--leftTop {
          top: 35%;
          left: -4%; }
          .services__text-box--leftTop .title-4 {
            text-align: right; }
          .services__text-box--leftTop .services__text {
            text-align: right; }
        .services__text-box--leftBottom {
          bottom: 15.55%;
          left: 0.5%; }
          .services__text-box--leftBottom .title-4 {
            text-align: right; }
          .services__text-box--leftBottom .services__text {
            text-align: right; }
        .services__text-box--rightTop {
          top: 26%;
          right: 1%; }
          .services__text-box--rightTop .title-4 {
            text-align: left; }
          .services__text-box--rightTop .services__text {
            text-align: left; }
        .services__text-box--rightBottom {
          bottom: 24.7%;
          right: -3.5%; }
          .services__text-box--rightBottom .title-4 {
            text-align: left; }
          .services__text-box--rightBottom .services__text {
            text-align: left; } }
  .services .title-3 {
    margin-bottom: 20px; }
  .services .title-4 {
    margin-bottom: 10px; }
  .services__text-container {
    margin-top: -50px; }
  .services__img-box {
    width: 120px;
    height: 120px;
    margin: 100px auto; }
    @media (min-width: 949px) {
      .services__img-box {
        margin: 200px auto;
        height: 160px;
        width: 160px; } }
  .services__img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  .services .inline-dots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center; }
    @media (min-width: 949px) {
      .services .inline-dots {
        display: none; } }
    .services .inline-dots li {
      display: block;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: #193558; }
      .services .inline-dots li:last-child {
        height: 9px;
        width: 9px;
        margin-bottom: 10px; }
      .services .inline-dots li:not(:last-child) {
        margin-bottom: 5px; }

.dots {
  position: relative; }
  .dots--center {
    position: absolute;
    width: 187px;
    height: 187px;
    border-radius: 50%;
    padding: 0;
    margin: 50px auto 0;
    border: solid 5px transparent;
    top: -65%;
    left: 19%; }
    .dots--center > * {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -2px;
      width: 4px;
      height: 4px; }
      .dots--center > *:nth-of-type(1) {
        transform: rotate(0deg) translate(93.5px) rotate(0deg); }
      .dots--center > *:nth-of-type(2) {
        transform: rotate(22.5deg) translate(93.5px) rotate(-22.5deg); }
      .dots--center > *:nth-of-type(3) {
        transform: rotate(45deg) translate(93.5px) rotate(-45deg); }
      .dots--center > *:nth-of-type(4) {
        transform: rotate(67.5deg) translate(93.5px) rotate(-67.5deg); }
      .dots--center > *:nth-of-type(5) {
        transform: rotate(90deg) translate(93.5px) rotate(-90deg); }
      .dots--center > *:nth-of-type(6) {
        transform: rotate(112.5deg) translate(93.5px) rotate(-112.5deg); }
      .dots--center > *:nth-of-type(7) {
        transform: rotate(135deg) translate(93.5px) rotate(-135deg); }
      .dots--center > *:nth-of-type(8) {
        transform: rotate(157.5deg) translate(93.5px) rotate(-157.5deg); }
      .dots--center > *:nth-of-type(9) {
        transform: rotate(180deg) translate(93.5px) rotate(-180deg); }
      .dots--center > *:nth-of-type(10) {
        transform: rotate(202.5deg) translate(93.5px) rotate(-202.5deg); }
      .dots--center > *:nth-of-type(11) {
        transform: rotate(225deg) translate(93.5px) rotate(-225deg); }
      .dots--center > *:nth-of-type(12) {
        transform: rotate(247.5deg) translate(93.5px) rotate(-247.5deg); }
      .dots--center > *:nth-of-type(13) {
        transform: rotate(270deg) translate(93.5px) rotate(-270deg); }
      .dots--center > *:nth-of-type(14) {
        transform: rotate(292.5deg) translate(93.5px) rotate(-292.5deg); }
      .dots--center > *:nth-of-type(15) {
        transform: rotate(315deg) translate(93.5px) rotate(-315deg); }
      .dots--center > *:nth-of-type(16) {
        transform: rotate(337.5deg) translate(93.5px) rotate(-337.5deg); }
    .dots--center .dots--little {
      position: absolute;
      border-radius: 50%;
      background: #abbbcb;
      transition: 0.15s; }
    @media (min-width: 949px) {
      .dots--center {
        position: absolute;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        padding: 0;
        top: -60%;
        left: 39%; }
        .dots--center > * {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -2.5px;
          width: 5px;
          height: 5px; }
          .dots--center > *:nth-of-type(1) {
            transform: rotate(0deg) translate(125px) rotate(0deg); }
          .dots--center > *:nth-of-type(2) {
            transform: rotate(22.5deg) translate(125px) rotate(-22.5deg); }
          .dots--center > *:nth-of-type(3) {
            transform: rotate(45deg) translate(125px) rotate(-45deg); }
          .dots--center > *:nth-of-type(4) {
            transform: rotate(67.5deg) translate(125px) rotate(-67.5deg); }
          .dots--center > *:nth-of-type(5) {
            transform: rotate(90deg) translate(125px) rotate(-90deg); }
          .dots--center > *:nth-of-type(6) {
            transform: rotate(112.5deg) translate(125px) rotate(-112.5deg); }
          .dots--center > *:nth-of-type(7) {
            transform: rotate(135deg) translate(125px) rotate(-135deg); }
          .dots--center > *:nth-of-type(8) {
            transform: rotate(157.5deg) translate(125px) rotate(-157.5deg); }
          .dots--center > *:nth-of-type(9) {
            transform: rotate(180deg) translate(125px) rotate(-180deg); }
          .dots--center > *:nth-of-type(10) {
            transform: rotate(202.5deg) translate(125px) rotate(-202.5deg); }
          .dots--center > *:nth-of-type(11) {
            transform: rotate(225deg) translate(125px) rotate(-225deg); }
          .dots--center > *:nth-of-type(12) {
            transform: rotate(247.5deg) translate(125px) rotate(-247.5deg); }
          .dots--center > *:nth-of-type(13) {
            transform: rotate(270deg) translate(125px) rotate(-270deg); }
          .dots--center > *:nth-of-type(14) {
            transform: rotate(292.5deg) translate(125px) rotate(-292.5deg); }
          .dots--center > *:nth-of-type(15) {
            transform: rotate(315deg) translate(125px) rotate(-315deg); }
          .dots--center > *:nth-of-type(16) {
            transform: rotate(337.5deg) translate(125px) rotate(-337.5deg); } }
  .dots .dots--bigger {
    position: absolute;
    width: 233px;
    height: 233px;
    border-radius: 50%;
    padding: 0;
    margin: 50px auto 0;
    border: solid 5px transparent;
    transform: rotate(10deg);
    z-index: -2; }
    .dots .dots--bigger > * {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -1.5px;
      width: 3px;
      height: 3px; }
      .dots .dots--bigger > *:nth-of-type(1) {
        transform: rotate(0deg) translate(116.5px) rotate(0deg); }
      .dots .dots--bigger > *:nth-of-type(2) {
        transform: rotate(22.5deg) translate(116.5px) rotate(-22.5deg); }
      .dots .dots--bigger > *:nth-of-type(3) {
        transform: rotate(45deg) translate(116.5px) rotate(-45deg); }
      .dots .dots--bigger > *:nth-of-type(4) {
        transform: rotate(67.5deg) translate(116.5px) rotate(-67.5deg); }
      .dots .dots--bigger > *:nth-of-type(5) {
        transform: rotate(90deg) translate(116.5px) rotate(-90deg); }
      .dots .dots--bigger > *:nth-of-type(6) {
        transform: rotate(112.5deg) translate(116.5px) rotate(-112.5deg); }
      .dots .dots--bigger > *:nth-of-type(7) {
        transform: rotate(135deg) translate(116.5px) rotate(-135deg); }
      .dots .dots--bigger > *:nth-of-type(8) {
        transform: rotate(157.5deg) translate(116.5px) rotate(-157.5deg); }
      .dots .dots--bigger > *:nth-of-type(9) {
        transform: rotate(180deg) translate(116.5px) rotate(-180deg); }
      .dots .dots--bigger > *:nth-of-type(10) {
        transform: rotate(202.5deg) translate(116.5px) rotate(-202.5deg); }
      .dots .dots--bigger > *:nth-of-type(11) {
        transform: rotate(225deg) translate(116.5px) rotate(-225deg); }
      .dots .dots--bigger > *:nth-of-type(12) {
        transform: rotate(247.5deg) translate(116.5px) rotate(-247.5deg); }
      .dots .dots--bigger > *:nth-of-type(13) {
        transform: rotate(270deg) translate(116.5px) rotate(-270deg); }
      .dots .dots--bigger > *:nth-of-type(14) {
        transform: rotate(292.5deg) translate(116.5px) rotate(-292.5deg); }
      .dots .dots--bigger > *:nth-of-type(15) {
        transform: rotate(315deg) translate(116.5px) rotate(-315deg); }
      .dots .dots--bigger > *:nth-of-type(16) {
        transform: rotate(337.5deg) translate(116.5px) rotate(-337.5deg); }
    .dots .dots--bigger .dots--big {
      position: absolute;
      top: 3%;
      left: 55.5%;
      border-radius: 50%;
      background: rgba(171, 187, 203, 0.5);
      transition: 0.15s; }
    @media (min-width: 949px) {
      .dots .dots--bigger {
        position: absolute;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        padding: 0;
        top: 4%;
        left: 30.5%; }
        .dots .dots--bigger > * {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -2px;
          width: 4px;
          height: 4px; }
          .dots .dots--bigger > *:nth-of-type(1) {
            transform: rotate(0deg) translate(175px) rotate(0deg); }
          .dots .dots--bigger > *:nth-of-type(2) {
            transform: rotate(22.5deg) translate(175px) rotate(-22.5deg); }
          .dots .dots--bigger > *:nth-of-type(3) {
            transform: rotate(45deg) translate(175px) rotate(-45deg); }
          .dots .dots--bigger > *:nth-of-type(4) {
            transform: rotate(67.5deg) translate(175px) rotate(-67.5deg); }
          .dots .dots--bigger > *:nth-of-type(5) {
            transform: rotate(90deg) translate(175px) rotate(-90deg); }
          .dots .dots--bigger > *:nth-of-type(6) {
            transform: rotate(112.5deg) translate(175px) rotate(-112.5deg); }
          .dots .dots--bigger > *:nth-of-type(7) {
            transform: rotate(135deg) translate(175px) rotate(-135deg); }
          .dots .dots--bigger > *:nth-of-type(8) {
            transform: rotate(157.5deg) translate(175px) rotate(-157.5deg); }
          .dots .dots--bigger > *:nth-of-type(9) {
            transform: rotate(180deg) translate(175px) rotate(-180deg); }
          .dots .dots--bigger > *:nth-of-type(10) {
            transform: rotate(202.5deg) translate(175px) rotate(-202.5deg); }
          .dots .dots--bigger > *:nth-of-type(11) {
            transform: rotate(225deg) translate(175px) rotate(-225deg); }
          .dots .dots--bigger > *:nth-of-type(12) {
            transform: rotate(247.5deg) translate(175px) rotate(-247.5deg); }
          .dots .dots--bigger > *:nth-of-type(13) {
            transform: rotate(270deg) translate(175px) rotate(-270deg); }
          .dots .dots--bigger > *:nth-of-type(14) {
            transform: rotate(292.5deg) translate(175px) rotate(-292.5deg); }
          .dots .dots--bigger > *:nth-of-type(15) {
            transform: rotate(315deg) translate(175px) rotate(-315deg); }
          .dots .dots--bigger > *:nth-of-type(16) {
            transform: rotate(337.5deg) translate(175px) rotate(-337.5deg); } }

@media (min-width: 949px) {
  .selected {
    width: 8px !important;
    height: 8px !important;
    background-color: #50b7ce !important; } }
.join {
  width: 100vw;
  height: 110vh;
  background-color: #f0f1f4;
  text-align: center;
  position: relative;
  overflow: hidden; }
  @media (min-width: 949px) {
    .join {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .join .title-3 {
    display: inline-block;
    margin: 100px auto 50px auto; }
    @media (min-width: 949px) {
      .join .title-3 {
        margin: 0 0 50px 0; } }
  .join__text {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 20px; }
    @media (min-width: 949px) {
      .join__text {
        text-align: center; } }
  .join__logo-line {
    position: absolute;
    width: 220px;
    top: -13%;
    right: 5%; }
    @media (min-width: 949px) {
      .join__logo-line {
        width: 600px;
        height: 600px;
        top: -25%;
        right: 3%; } }
  .join__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 949px) {
      .join__text-container {
        width: 100%;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-between; } }
    .join__text-container .join__text-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 50px; }
      @media (min-width: 949px) {
        .join__text-container .join__text-box {
          width: 280px;
          height: auto; } }
      .join__text-container .join__text-box img {
        display: block;
        margin-bottom: 20px; }
      .join__text-container .join__text-box .join-box-title {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 10px; }
      .join__text-container .join__text-box .span-dots {
        display: block;
        height: 10px;
        width: 10px;
        background: #193558;
        border-radius: 50%;
        margin-bottom: 10px; }

.joinOffers {
  color: #193558; }
  .joinOffers__title {
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold; }
  .joinOffers__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 600px) {
      .joinOffers__box {
        flex-direction: row; } }
    .joinOffers__boxContainer {
      width: 300px;
      height: 400px;
      margin: 50px 0 30px 0;
      padding: 20px 20px;
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4); }
      @media (min-width: 600px) {
        .joinOffers__boxContainer {
          margin: 100px 50px; } }
    .joinOffers__boxTitle {
      font-size: 20px;
      font-weight: 600;
      text-align: center; }
  .joinOffers__boxSummaryContainer {
    position: relative;
    padding: 10px 0; }
  .joinOffers__boxSummaryTitle {
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0; }
  .joinOffers__boxSummaryText {
    font-size: 12px;
    line-height: 35px; }
  .joinOffers__boxSummaryButton {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: none;
    margin-top: 20px;
    padding: 10px 20px; }
  .joinOffers__boxSummaryAvailability {
    font-size: 14px;
    font-weight: 400;
    margin: 20px 0; }

.joinForm {
  display: none;
  color: #193558;
  margin: 50px 20px; }
  .joinForm__return {
    border: none;
    background: #fff;
    cursor: pointer;
    text-transform: uppercase; }
    @media (min-width: 600px) {
      .joinForm__return {
        margin-left: 20px; } }
  .joinForm__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .joinForm__title {
    font-size: 24px;
    font-weight: bold; }
  .joinForm__subTitle {
    font-size: 14px;
    display: flex;
    margin-top: 10px; }
  .joinForm__text {
    font-weight: 200;
    margin-right: 5px; }
  .joinForm__link {
    cursor: pointer; }
  .joinForm__form {
    margin: 35px 20px; }
    .joinForm__formContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 80px;
      align-items: center;
      position: relative; }
    .joinForm__formInputs {
      position: relative; }
    .joinForm__formInput {
      border: none;
      border-bottom: 2px solid #193558;
      padding: 5px;
      margin-bottom: 35px;
      margin-right: 35px;
      font-size: 14px;
      font-weight: 200;
      width: 100%;
      color: #173456;
      letter-spacing: 1px;
      box-sizing: border-box;
      background-color: transparent;
      z-index: 1; }
      @media (min-width: 600px) {
        .joinForm__formInput {
          width: 200px; } }
    .joinForm__formLabel {
      position: absolute;
      top: 5px;
      left: 0;
      z-index: -1; }
    .joinForm__formInputSubmit {
      margin-top: 50px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      background: #49b6ce;
      border: 1px solid #49b6ce;
      border-radius: 30px;
      width: 200px;
      padding: 10px 0;
      color: #fff;
      cursor: pointer; }

.footer {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom, #3d5b89, #354158);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100000000000; }
  .footer__title {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    margin-bottom: 10px; }
    @media (min-width: 949px) {
      .footer__title {
        margin-bottom: 50px; } }
  .footer__mail, .footer__adress {
    font-size: 14px;
    font-weight: 300;
    color: #fff; }
  .footer__mail {
    margin-bottom: 5px; }
  .footer__logos-box {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px; }
    @media (min-width: 949px) {
      .footer__logos-box {
        width: 30%; } }

.headeruser {
  background: #395075;
  width: 100vw;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.5px;
  color: #FFF; }
  @media (min-width: 949px) {
    .headeruser {
      position: absolute;
      z-index: 1;
      width: 20%;
      height: 100vh; } }
  .headeruser__inner {
    width: 90%;
    margin: auto;
    padding: 20px 0; }
  .headeruser__menu {
    display: flex;
    justify-content: space-between; }
    @media (min-width: 949px) {
      .headeruser__menu {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        margin: auto; } }
  @media (min-width: 949px) {
    .headeruser__username {
      text-align: center;
      margin-top: 130px;
      font-size: 18px; } }
  .headeruser__logout {
    cursor: pointer;
    color: #fff;
    text-decoration: none; }
    @media (min-width: 949px) {
      .headeruser__logout {
        position: fixed;
        right: 5%;
        top: 30px;
        border: 1px solid #49b6ce;
        background: #FFF;
        width: 118px;
        border-radius: 50px;
        color: #49b6ce;
        padding: 11px 0;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase; } }
  .headeruser__logo-imgContainer {
    width: 60px;
    margin: auto;
    transform: translateY(-50%); }
    @media (min-width: 949px) {
      .headeruser__logo-imgContainer {
        margin-top: 50px; } }
  .headeruser__companyName-imgContainer {
    width: 82px;
    margin: auto;
    transform: translateY(-200%); }
  .headeruser__img {
    width: 100%; }
  .headeruser__nav {
    margin-top: 50px; }
  .headeruser__line {
    width: 100%;
    height: 2px;
    background: rgba(73, 182, 206, 0.35);
    display: block;
    position: relative; }
    @media (min-width: 949px) {
      .headeruser__line {
        position: absolute;
        right: 0;
        height: calc(52px * 3);
        width: 2px; } }
  .headeruser__line-inner {
    width: 33%;
    height: 2px;
    background: #49b6ce;
    display: block;
    position: absolute;
    z-index: 2;
    transition: all .3s; }
    @media (min-width: 949px) {
      .headeruser__line-inner {
        position: absolute;
        right: 0;
        left: 0;
        height: 52px;
        width: 2px; } }
  .headeruser__tabs {
    display: flex;
    align-items: center;
    text-transform: uppercase; }
    @media (min-width: 949px) {
      .headeruser__tabs {
        flex-direction: column; } }
    .headeruser__tabs-item {
      padding-top: 20px;
      width: 33%;
      text-align: center; }
      @media (min-width: 949px) {
        .headeruser__tabs-item {
          padding: 20px 0;
          cursor: pointer;
          width: 100%; }
          .headeruser__tabs-item:hover {
            background: #45618C;
            width: 111%; } }

.line1 {
  left: 0; }
  @media (min-width: 949px) {
    .line1 {
      top: 0;
      left: 0; } }

.line2 {
  left: 33%; }
  @media (min-width: 949px) {
    .line2 {
      top: 52px;
      left: 0; } }

.line3 {
  left: 66.6%; }
  @media (min-width: 949px) {
    .line3 {
      top: 104px;
      left: 0; } }

@media (min-width: 949px) {
  .activeHeaderUser {
    background: #45618C;
    width: 111%; } }

.contentClient {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(bottom left, #354158 0%, #3d5b89 100%);
  background: -o-linear-gradient(bottom left, #354158 0%, #3d5b89 100%);
  background: linear-gradient(to top right, #354158 0%, #3d5b89 100%); }
  @media (min-width: 949px) {
    .contentClient {
      width: 80%;
      left: 20%; } }

.suivi {
  overflow-x: hidden;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  font-family: "nunito",sans-serif; }
  @media (min-width: 949px) {
    .suivi {
      width: 100%; } }
  .suivi__inner {
    padding-bottom: 50px;
    width: 90%;
    margin: auto; }
    @media (min-width: 949px) {
      .suivi__inner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        padding: 0; } }
  @media (min-width: 949px) {
    .suivi__desktop-flex {
      align-items: center;
      display: flex;
      width: 100%;
      justify-content: space-between;
      position: relative;
      margin-top: 20px; } }
  @media (min-width: 949px) {
    .suivi__desktop-leftContent {
      width: 50%; } }
  .suivi__percentage {
    margin-top: 50px;
    width: 100%;
    background-color: #45618C;
    border-radius: 8px;
    padding: 30px 0;
    position: relative; }
    @media (min-width: 949px) {
      .suivi__percentage {
        margin-top: 0;
        padding: 40px 0; } }
    .suivi__percentage-inner {
      display: flex;
      align-items: center;
      position: absolute;
      border-radius: 8px;
      height: 100%;
      width: 30%;
      top: 0;
      left: 0;
      color: rgba(255, 255, 255, 0.5);
      font-size: 24px;
      font-weight: lighter;
      background: linear-gradient(to right, #55b8f1 0%, #1177fc 100%); }
    .suivi__percentage-text {
      display: block;
      margin: auto; }
  .suivi__estimatedTime {
    width: 100%;
    background-color: #45618C;
    border-radius: 8px;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    font-size: 32px;
    color: #FFF; }
    @media (min-width: 949px) {
      .suivi__estimatedTime {
        width: 47%;
        height: 15%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        display: flex;
        align-items: center; } }
    @media (min-width: 1200px) {
      .suivi__estimatedTime {
        width: 50%;
        height: 20%; } }
  @media (min-width: 949px) {
    .suivi__desktop-waste {
      display: block;
      margin: 0;
      width: 37%;
      height: 35vh;
      padding: 20px;
      background-color: #45618C;
      border-radius: 8px;
      position: relative; } }
  @media (min-width: 1200px) {
    .suivi__desktop-waste {
      width: 40%;
      height: 45vh; } }
  .suivi__waste {
    margin-top: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 949px) {
      .suivi__waste {
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 90%; } }
  .suivi__stats {
    position: relative;
    width: 100%;
    margin: auto; }
    @media (min-width: 949px) {
      .suivi__stats {
        background-color: #45618C;
        padding: 20px;
        border-radius: 8px;
        position: absolute;
        width: 47%;
        bottom: 0;
        height: 55%;
        display: flex;
        align-items: center; } }
    @media (min-width: 1200px) {
      .suivi__stats {
        width: 50%;
        height: 59%; } }
    .suivi__stats-circle {
      width: 50%;
      height: 50%;
      position: relative; }
      @media (min-width: 1200px) {
        .suivi__stats-circle {
          width: 75%;
          height: 75%; } }
      .suivi__stats-circle #circleCharts {
        width: auto !important;
        height: 100% !important;
        transform: translateX(-25%); }
  .suivi__legends {
    width: 20%;
    text-align: center;
    color: #FFF;
    font-family: "nunito",sans-serif;
    font-size: 8px;
    font-weight: lighter; }
    @media (min-width: 1200px) {
      .suivi__legends {
        font-size: 14px; } }
    .suivi__legends-round {
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid;
      margin: 10px auto;
      position: relative; }
    .suivi__legends-roundInner {
      display: block;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%); }
  .suivi .outer-yellow {
    border-color: #f1b555; }
  .suivi .outer-red {
    border-color: #f15555; }
  .suivi .outer-blue {
    border-color: #55b7f1; }
  .suivi .inner-yellow {
    background: linear-gradient(#fc7411 0%, #f1b555 100%); }
  .suivi .inner-red {
    background: linear-gradient(#ff3743 0%, #f15555 100%); }
  .suivi .inner-blue {
    background: linear-gradient(#55b7f1 0%, #1177fc 100%); }

.userTitle {
  font-family: "nunito",sans-serif;
  font-weight: 400;
  color: #FFF;
  margin: 50px 0 30px 0; }
  @media (min-width: 949px) {
    .userTitle {
      display: none; } }

.userDevis {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  height: 100vh;
  width: 100vw; }
  @media (min-width: 949px) {
    .userDevis {
      width: 100%; } }
  .userDevis__inner {
    width: 90%;
    margin: auto; }
    @media (min-width: 949px) {
      .userDevis__inner {
        display: flex;
        flex-direction: column;
        margin-top: 150px; } }
    @media (min-width: 1200px) {
      .userDevis__inner {
        width: 90%;
        flex-wrap: wrap;
        flex-direction: row; } }
  .userDevis__cards {
    position: relative;
    margin: 30px 0;
    width: 100%;
    background: #45618C;
    border-radius: 8px; }
    @media (min-width: 949px) {
      .userDevis__cards {
        margin: 5px auto;
        width: calc(350px); } }
    @media (min-width: 1200px) {
      .userDevis__cards {
        margin: 5px; } }
    .userDevis__cards-inner {
      padding: 20px;
      color: #FFF;
      font-family: "nunito",sans-serif;
      font-size: 12px; }
  .userDevis__mission__principal {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 20px; }
  .userDevis__mission-title {
    font-weight: 400; }
  .userDevis__mission-date {
    font-weight: lighter; }
  .userDevis__mission__details {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .userDevis__mission-waste {
    font-weight: lighter; }
  .userDevis__details-item {
    margin-top: 10px; }
  .userDevis__mission-price {
    font-size: 24px;
    color: #49B6CE; }

.--userDevis {
  margin: 50px 60px; }

.profil {
  display: none;
  position: absolute;
  left: 200%;
  top: 0;
  height: 100vh;
  width: 100vw;
  font-family: "nunito",sans-serif;
  color: #FFF; }
  @media (min-width: 949px) {
    .profil {
      width: 100%; } }
  .profil__inner {
    width: 90%;
    margin: 30px auto 0;
    text-align: center; }
    @media (min-width: 949px) {
      .profil__inner {
        margin: 150px auto 0; } }
  .profil__username {
    font-size: 24px;
    font-weight: bolder;
    text-align: center; }
    @media (min-width: 949px) {
      .profil__username {
        text-align: left; } }
  @media (min-width: 949px) {
    .profil__form {
      width: 100%; } }
  @media (min-width: 1200px) {
    .profil__form {
      display: flex;
      justify-content: space-between;
      width: 90%; } }
  @media (min-width: 1200px) {
    .profil__form-flex {
      width: 49%;
      position: relative; } }
  .profil__form-text {
    width: 100%;
    text-align: left; }
  .profil__form-items {
    margin: 30px 0; }
  .profil__inputContainer {
    width: 100%;
    border-radius: 8px;
    margin-top: 5px;
    background: #45618C;
    display: block;
    position: relative; }
    .profil__inputContainer input {
      color: #FFF;
      font-weight: 100;
      font-size: 14px;
      width: calc(100% - 30px);
      padding: 15px;
      background: transparent;
      border: none; }
  .profil input[type="submit"] {
    border: 0;
    background: #49b6ce;
    width: 100px;
    border-radius: 50px;
    color: #FFF;
    padding: 10px 0;
    font-size: 12px;
    cursor: pointer; }
    @media (min-width: 1200px) {
      .profil input[type="submit"] {
        position: absolute;
        right: 0; } }

body {
  overflow-x: hidden; }

/*# sourceMappingURL=styles.css.map */
