/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.devis {
  height: 100vh;
  font-family: 'Nunito';
  color: #183456;
  font-size: 14px; }
  .devis__container {
    padding: 100px 20px; }
    @media (min-width: 600px) {
      .devis__container {
        padding-left: 100px; } }
  .devis__title {
    font-size: 24px;
    font-weight: bold; }
    @media (min-width: 600px) {
      .devis__title {
        font-size: 36px; } }
  .devis__navSteps {
    margin-top: 10px;
    display: flex; }
  .devis__navStep {
    margin-right: 10px;
    font-weight: 400;
    opacity: 0.3;
    cursor: pointer; }
  .devis__stepsForm {
    display: flex;
    overflow-x: hidden; }
  .devis__stepNext {
    background: #183456;
    border: none;
    padding: 10px 35px;
    border-radius: 25px;
    color: #fff;
    font-size: 12px;
    margin: 40px 0 50px 0;
    cursor: pointer; }
    @media (min-width: 600px) {
      .devis__stepNext {
        grid-column: 1/3;
        align-self: baseline; } }
  .devis__firstStep {
    border: none;
    font-weight: 200;
    color: #183456; }
    @media (min-width: 600px) {
      .devis__firstStepForm {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 200px;
        align-items: center;
        justify-content: center; } }
    .devis__firstStepTitle {
      margin: 30px 0 35px 0;
      font-size: 18px;
      font-weight: 200; }
    .devis__firstStepSelect {
      border: none;
      font-family: 'Nunito';
      font-weight: 200;
      color: #183456;
      font-size: 14px;
      border-bottom: 2px solid #183456;
      width: 100%;
      padding: 5px; }
    .devis__firstStepInput {
      margin: 35px 0;
      font-size: 14px;
      color: #183456;
      font-family: 'Nunito';
      font-weight: 200;
      border: none;
      border-bottom: 2px solid #183456;
      width: 100%;
      padding: 5px; }
      @media (min-width: 600px) {
        .devis__firstStepInput {
          width: 120%; } }
    .devis__firstStep input[type="checkbox"] {
      margin: 35px 0; }
    @media (min-width: 600px) {
      .devis__firstStepCleaning {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; } }
    .devis__firstStepCleaningContainer {
      display: flex;
      margin-top: 20px;
      align-items: center;
      justify-content: space-around; }
      @media (min-width: 600px) {
        .devis__firstStepCleaningContainer {
          flex-direction: column;
          align-items: center; } }
      .devis__firstStepCleaningContainer > input {
        margin-right: 20px;
        width: 20%; }
        @media (min-width: 600px) {
          .devis__firstStepCleaningContainer > input {
            margin-right: 0;
            width: 50%; } }
      @media (min-width: 600px) {
        .devis__firstStepCleaningContainerTitle {
          text-align: center; } }
    .devis__firstStepCleaningCircle {
      width: 100px;
      height: 100px;
      background: #183456;
      border-radius: 50%; }
    .devis__firstStepInputPercent {
      opacity: 0.3;
      border: none;
      border-bottom: 2px solid #183456;
      width: 100%;
      font-size: 14px;
      padding: 5px; }
      @media (min-width: 600px) {
        .devis__firstStepInputPercent {
          width: 120%; } }
  .devis__secondStepTitle {
    font-size: 18px;
    font-weight: 200;
    margin: 30px 0 35px 0; }
  .devis__secondStepLink {
    text-decoration: none;
    color: #183456;
    font-size: 14px; }
  .devis__secondStepForm {
    margin: 35Px 0; }
    @media (min-width: 600px) {
      .devis__secondStepForm {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 200px;
        align-content: center;
        justify-self: center; } }
  .devis__secondStepInput {
    border: none;
    border-bottom: 2px solid #183456;
    padding: 5px;
    margin-bottom: 35px;
    font-size: 14px;
    font-weight: 200;
    width: 100%; }
    @media (min-width: 600px) {
      .devis__secondStepInput {
        width: 120%; } }
  .devis__thirdStepTitle {
    font-size: 18px;
    font-weight: 200;
    margin: 30px 0 35px 0; }
  .devis__thirdStepSubTitle {
    margin: 20px 0;
    font-size: 14px;
    font-weight: bold; }
  .devis__thirdStepInfo {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .devis__thirdStepInfoList {
      background: #183456;
      color: #fff;
      padding: 10px;
      border-radius: 10px;
      font-weight: 200;
      line-height: 20px; }
    .devis__thirdStepInfoList > li {
      margin-bottom: 5px; }
    .devis__thirdStepInfoImg {
      width: 50%; }
  .devis__thirdStepSummary {
    margin: 50px 0;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    padding: 20px; }
    .devis__thirdStepSummaryTitle {
      font-size: 14px;
      font-weight: bold; }
    .devis__thirdStepSummarySubTitle {
      font-weight: 200;
      margin-bottom: 20px; }
    .devis__thirdStepSummaryList {
      font-weight: 200; }
    .devis__thirdStepSummaryItems {
      margin-bottom: 15px; }
    .devis__thirdStepSummaryPrice {
      margin: 40px 0; }
    .devis__thirdStepSummaryButtons {
      display: flex;
      justify-content: end;
      align-content: flex-end; }
    .devis__thirdStepSummaryButton {
      border: none;
      background: #fff;
      color: #49B6CE;
      border: 1px solid #49B6CE;
      margin-right: 10px;
      padding: 10px 35px;
      border-radius: 25px;
      cursor: pointer; }
    .devis__thirdStepSummaryButton:hover {
      transition: 1s;
      border: 3px solid #49B6CE; }
    .devis__thirdStepSummaryButtonSend {
      border: none;
      background: #49B6CE;
      color: #fff;
      border: 1px solid #49B6CE;
      padding: 10px 35px;
      border-radius: 25px;
      cursor: pointer; }
  .devis #send {
    display: none; }
  .devis .--currentStep {
    opacity: 1; }
  .devis .--center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; }
  .devis .--steps {
    display: none; }
  .devis .--stepsActive {
    display: block; }

.sendMail {
  font-family: 'Nunito';
  color: #183456; }
  .sendMail__container {
    padding: 50px 20px; }
  .sendMail__title {
    font-size: 24px;
    font-weight: bold; }
  .sendMail__subTitle {
    font-size: 14px;
    font-weight: 200;
    margin-top: 10px; }
  .sendMail__imgContainer {
    max-width: 200px;
    max-height: 200px;
    margin: 50px 0; }
  .sendMail__img {
    width: 100%;
    height: 100%; }

.header {
  background: #395075;
  width: 100vw;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  color: #FFF; }
  .header__inner {
    width: 90%;
    margin: auto;
    padding: 20px 0; }
  .header__menu {
    display: flex;
    justify-content: space-between; }
  .header__logo-imgContainer {
    width: 60px;
    margin: auto;
    transform: translateY(-50%); }
  .header__companyName-imgContainer {
    width: 82px;
    margin: auto;
    transform: translateY(-200%); }
  .header__img {
    width: 100%; }
  .header__line {
    width: 100%;
    height: 2px;
    background: rgba(73, 182, 206, 0.35);
    display: block;
    position: relative; }
  .header__line-inner {
    width: 33%;
    height: 2px;
    background: #49B6CE;
    display: block;
    position: absolute;
    z-index: 2;
    transition: all .3s; }
  .header__tabs {
    display: flex;
    align-items: center; }
    .header__tabs-item {
      padding-top: 20px;
      width: 33%;
      text-align: center; }

.line1 {
  left: 0; }

.line2 {
  left: 33%; }

.line3 {
  left: 66.6%; }

.contentClient {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: -webkit-linear-gradient(bottom left, #354158 0%, #3d5b89 100%);
  background: -o-linear-gradient(bottom left, #354158 0%, #3d5b89 100%);
  background: linear-gradient(to top right, #354158 0%, #3d5b89 100%); }

.suivi {
  position: absolute;
  left: 0;
  top: 0;
  background: red;
  opacity: .2;
  height: 100vh;
  width: 100vw; }

.profil {
  display: none;
  position: absolute;
  left: 200%;
  top: 0;
  background: green;
  opacity: .2;
  height: 100vh;
  width: 100vw; }

/*# sourceMappingURL=styles.css.map */
